a {
    background-color: #cfe3e6;
}

.navigation {
    padding-left: 10px;
    margin-bottom: 10%;
    block-size: auto;
    font-weight: 100;
    font-size: large;
    color: rgb(144, 196, 2);
    background-color: rgb(235, 235, 235);
}

.aha1 {
    display: inline-block;
    padding-right: 10px;
    
}